@mixin font-face($font-family, $url, $weight, $style) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('#{$url}.woff2') format("woff2");
        font-weight: #{$weight};
        font-display: swap;
        font-style: $style;
    }
}

@include font-face ("Poppins", "../fonts/poppins-v20-latin-regular", 400, normal);
@include font-face ("Raleway", "../fonts/raleway-v28-latin-regular", 400, normal);