// color settings
$arrowsColor: #fff;
$arrowsBgColor: rgba(0, 0, 0, 0.5);

$mainColorText: rgba(51, 51, 51, 1);

$mainColor: #00BA40;

$colorText: #333333;
$colorTextTit: #565656;
$colorTextHeaderMenu: #404040;

//media settings
$mediaXl: 1100px;
$mediaLg: 700px;
$mediaSm: 500px;